/*   ----- Formatting pulled from the CS290 CSS template-----  */
/*   ----- Imports  -----  */
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
  
/*   ----- Variables  -----  */
:root {
    /*--custom-color-name:;*/
    --AddGreen: #c7ebb3; 
    --AddGreenBorder: #455c39; 
    --UpdateBlue: #576b96; 
    --UpdateBlueBorder: #262e3f; 
    --DeleteRed: #97695b;
    --DeleteRedBorder: #571805;
    --MidGreen: #0b4120; 
    --Sand: #c7ba90cc; 
    --LightSand: #fcf1d0cc; 
    --PlatinumWhite: #e0e0e0; 
    --DarkGreen: #011e0b;     
    /*--custom-embellishment-name:;*/
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {}. */
    /* background-image: url(images/mountains-background.jpg);*/
    background-color: var(--LightSand);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color:var(--DarkGreen);
    font-family: "Red Hat Display", sans-serif; 
    margin: 0% 10%;
    padding: 5%;
    max-width: 80%;
    min-width: 60%;
  }
  
  /*  ----- Page layout blocks -----  */
  header {
    padding: 10px;
    background-color: var(--DarkGreen); 
    border-radius: 10px 10px 0px 0px;
    color: var(--PlatinumWhite);
    text-align: center;
    }
  header img {
    width: 45px;
    height: 45px;
    padding: 5px;
    }
  main {
    padding: 5%;
    background-color: var(--Sand);
    color: var(--DarkGreen);
    border-width: 2px;
    border-style: solid;
    border-bottom: 0px;
    border-top: 0px;
    border-color: var(--Sand);
    }
/*
  section {}
  article {}
    #topic1 {}
    #topic2 {}
  div {}
  aside {}
*/
  footer {
    padding: 5%;
    background-color: var(--Sand);
    color: var(--DarkGreen);
    border-radius: 0px 0px 10px 10px;
    }
    
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
    padding: 5px;
    margin: 0;
    text-align: center;
    font-family: "REM", sans-serif;
    background-color: var(--Sand);
    color: var(--LightSand);
    position:sticky; top:0;
    }
    .local a {  
        font-size: 16px;
        background-color: var(--OliveGreen);
        color: var(--DarkGreen);
        border-radius: 5px;
        margin: 3px;
        padding: 2px;
        position:sticky;
        line-height:26px;
        }
  nav a {
    font-size: 18px;
    background-color: var(--MidGreen);
    color: var(--LightSand);
    text-emphasis-color: var(--LightSand);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    line-height:28px;
    }
  
  /*  -----  Typography  ----- */
  h1, h2, h3, h4, h5, h6 {font-family: "REM", sans-serif;} 
  h1 {
    font-size:45px;
    }
  h2 {
    font-size:35px;
    }
  h3 {
    font-size:20px;
    }
  
  /*  ----- Coding or instructional typography ----- */
  
  /*  ----- Table ----- */
  table {
    text-align: left;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    border-collapse: collapse;
    column-gap: 10px;
    width: 100%;
  }
  
  .noborder {
    border-width: 10px;
    border-color: var(--LightSand);
  }

  thead {
    align-content: baseline;
  }
  th {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
  }
  td {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
  }
  
  /*---- Buttons ---- */
  /* Button styles */
.button-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 10rem;
}

button, 
input[type="submit"]
{
  text-align: center;
  font-family: "REM", sans-serif;
  padding: 0.75rem 1.5rem;
  /*border-radius: var(--radius);*/
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  background-color: None;
  border-color: None;
}

.btn-delete {
  background-color: var(--DeleteRed);
  border-color: var(--DeleteRedBorder);
  text-align: center;
  font-family: "REM", sans-serif;
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-add {
  background-color: var(--AddGreen);
  border-color: var(--AddGreenBorder);
  text-align: center;
  font-family: "REM", sans-serif;
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-add-borderless {
  background-color: var(--AddGreen);
  border-width: 0px;

}

.btn-update  {
  background-color: var(--UpdateBlue);
  border-color: var(--UpdateBlueBorder);
  text-align: center;
  font-family: "REM", sans-serif;
  padding: 0.75rem 1.5rem;
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-update-borderless {
  background-color: var(--UpdateBlue);
  border-width: 0px;
}

/* Action buttons 
.action-btn {
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  text-decoration: none;
  font-size: 0.875rem;
  transition: all 0.2s;
  background-color: None;
  border-color: None;
}

  */
  /*  ----- Form ----- */
   
  /*
  form {}
  fieldset {}
    legend {}
  label {}
  button {}
  input {}
  select {}
    optgroup {}
    option {}
  textarea {}
  output {}
  meter {}
  progress {}
    
  */
  
  
  /* ----- Media ----- */
  figure {
    object-fit:contain;
    }
    .gallery{
        display: flex;
        flex-flow: row wrap;
        padding: 5px;
        margin: 5px;
        border-style: double;
        border-color: var(--MidGreen);
        border-radius: 10px;
    }
    .gallery figure{
        width: 300px;
        display: block;
        align-self: center;
        text-align: center;
        margin: 5;
        border-color: var(--Sand);
        border-radius: 5px;
        border-style:ridge;
        border-width: 1px;
    }
    .gallery img {
      max-width: 100%;
      }
    .gallery figcaption {
        padding: 1% 2% 1% 2%;
        text-align: left;
        }
/*
    figcaption {}
    figure img {}
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  */
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  /*
  .gallery {}
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  */
